{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    {% block layout %}

        <div class="{{ particle.class|e }} g-owlcarousel-preview g-owlcarousel-{{ particle.displayitems }}-items">
            {% if particle.title %}
                <h3 class="g-title">
                    {{ particle.title|raw }}
                </h3>
            {% endif %}

            {% if particle.description %}
                <div class="g-owlcarousel-description">
                    {{ particle.description|raw }}
                </div>
            {% endif %}

            <div id="g-owlcarousel-{{ id }}" class="g-owlcarousel owl-carousel g-owlcarousel-fullwidth">

                {% if particle.source == 'wordpress' %}

                    {# Load Content From WordPress #}
                    {% set query_parameters = {
                        'cat': particle.wordpress.categories|replace(' ', ','),
                        'posts_per_page': particle.wordpress.posts|default('-1'),
                        'offset': '0',
                        'orderby': 'date',
                        'order': 'DESC',
                        'ignore_sticky_posts': true
                    } %}

                    {% set items = wordpress.query_posts(query_parameters) %}

                    {% for item in items %}
                        <div class="item">
                            <div class="preview-image">
                                {% if particle.wordpress.featuredimage == 'enabled' and item.thumbnail.src %}
                                    <img {% if particle.lazyload == 'enabled' %}class="owl-lazy" data-src="{{ url(item.thumbnail.src|e) }}"{% else %}src="{{ url(item.thumbnail.src|e) }}"{% endif %} alt="{{ item.title|e }}" />
                                {% endif %}
                                <div class="preview-text">
                                    {% if particle.wordpress.title == 'enabled' and item.title %}<div class="item-overlay-title">{{ item.title|e }}</div>{% endif %}
                                    {% if particle.wordpress.link == 'enabled' and item.link %}
                                        <div class="g-owlcarousel-item-link">
                                            <a target="{{ particle.wordpress.linktarget|default('_self')|e }}" class="g-owlcarousel-item-button button {{ particle.wordpress.linkclass|e }}" href="{{ item.link|e }}">
                                                {{ particle.wordpress.linktext|raw }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% else %}

                    {# Particle Content #}
                    {% for item in particle.items %}
                        <div class="item">
                            <div class="preview-image">
                                {% if item.image %}<img {% if particle.lazyload == 'enabled' %}class="owl-lazy" data-src="{{ url(item.image)|e }}"{% else %}src="{{ url(item.image)|e }}"{% endif %} alt="{{ item.title|e }}" />{% endif %}
                                <div class="preview-text">
                                    {% if item.title %}<div class="item-overlay-title">{{ item.title|e }}</div>{% endif %}
                                    {% if item.link %}
                                        <div class="g-owlcarousel-item-link">
                                            <a target="{{ item.buttontarget|default('_self')|e }}" class="g-owlcarousel-item-button button {{ item.buttonclass|e }}" href="{{ item.link|e }}">
                                                {{ item.linktext|raw }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% endif %}

            </div>
        </div>

    {% endblock %}
{% endblock %}

{% do gantry.document.addScript(url('gantry-theme://js/owlcarousel.js'), 10, 'footer') %}

{% set inline_js %}
    jQuery(document).ready(function () {
        var owl{{ id|replace({'-':'_'}) }} = jQuery('#g-owlcarousel-{{ id }}');
        owl{{ id|replace({'-':'_'}) }}.owlCarousel({
        items: 1,
        {% if particle.lazyload == 'enabled' %}
        lazyLoad: true,
        {% else %}
        lazyLoad: false,
        {% endif %}
        rtl: {% if gantry.page.direction == 'rtl' %}true{% else %}false{% endif %},
        {% if particle.animateOut and particle.animateOut != 'default' %}
        animateOut: '{{ particle.animateOut|default('fadeOut')|e }}',
        {% endif %}
        {% if particle.animateIn and particle.animateIn != 'default' %}
        animateIn: '{{ particle.animateIn|default('fadeIn')|e }}',
        {% endif %}
        nav: false,
        {% if particle.dots == 'enabled' %}
        dots: true,
        {% else %}
        dots: false,
        {% endif %}
        {% if particle.loop == 'enabled' %}
        loop: true,
        {% else %}
        loop: false,
        {% endif %}
        {% if particle.autoplay == 'enabled' %}
        autoplay: true,
        autoplayTimeout: {{ particle.autoplaySpeed|default('5000') }},
        {% if particle.pauseOnHover == 'enabled' %}
            autoplayHoverPause: true,
        {% else %}
            autoplayHoverPause: false,
        {% endif %}
        {% else %}
        autoplay: false,
        {% endif %}
        {% if particle.presets == 'enabled' %}
        {% set preset = gantry.theme.preset|replace({'preset':''}) %}
        startPosition: '{% if preset == '1' %}0{% elseif preset == '2' %}1{% elseif preset == '3' %}2{% elseif preset == '4' %}3{% elseif preset == '5' %}4{% elseif preset == '6' %}5{% endif %}',
        {% endif %}
        })
    });
{% endset %}

{% do gantry.document.addInlineScript( inline_js, 10, 'footer') %}
